# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Package
packages

# Temporary Files
.vs/*
*.aps
*.bak
*.user
*.pdb
*.bin
*.dat
dlldata.c
vc*.h
vc*_i.c
vc*_p.c
*.idb
*.exp
*.idl
*.tlb
*.log
*.tlog

# Temporary Directories
.vs
extern
Debug
Release
obj
x64
RayCore/lib
bin

# CodeSonar
.sonarlint
.scannerwork
.sonarqube
