<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<root>
			<!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL -->
			<level value="ALL"/>
			<appender-ref ref="console"/>
			<appender-ref ref="file"/>
			<appender-ref ref="error_file"/>
		</root>
		<appender name="console" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<file value="log\app.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<preserveLogFileNameExtension value="true"/>
			<staticLogFileName value="false" />
			<datePattern value="'_'yyyy-MM-dd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<appender name="error_file" type="log4net.Appender.RollingFileAppender">
			<file value="log\error.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<preserveLogFileNameExtension value="true"/>
			<staticLogFileName value="false" />
			<datePattern value="'_'yyyy-MM-dd" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="ERROR" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>