<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ModelVersion" value="OCTFFR100" />
		<add key="Manufacturer" value="Raywatt Inc." />
		<add key="ModelName" value="OCT FFR" />
		<add key="SoftwareName" value="OCT AI FFR" />
		<add key="SoftwareVersion" value="1.00.00" />
	</appSettings>
	<connectionStrings>
		<add name="postgres" connectionString="Host=127.0.0.1;Port=5432;Database=rv_database;Username=rv_user;Password=raywatt"/>
	</connectionStrings>
</configuration>